// General components syntax:
%%component_name (role1,role2) (property1,property2) { attr_property_with_value: "value", attr_property_with_diff_name(name), attr_prop3(prop3): "value"} %tag_name
//
// or only set the ones we want:
%%component_name(role1,role2){ property1: "value1" }
// or
%%component_name{ property2: "value2" }
//
// Sometimes we need to have a different html attribute name for the value
%%component{ property1(prop1): 'value' }
//
// or the same without specifying value
%%component{ property1(prop1) }
//
// parts syntax:
%%:part_name
%%:part_name%tag_name
